* {
    margin: 0;
}

.secoes {
    background-color: rgba(128, 128, 128, 0.205);
    width: 90%;
    margin: 0 auto;
}

h1 {
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

p {
    padding: 20px;
}